.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #222222;
  color: rgb(39, 39, 39);
  /* color: #DAEF47 */
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.nav {
  min-height: 53px;
}

.fivepx {
  margin: 5px;
}

.card {
  background-color: rgb(241, 225, 249);
}

.clickable {
  cursor: pointer;
}

.margins {
  margin: 3%;
}

.white-text {
  color: whitesmoke;
}

#profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.login-card {
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 3%;
  padding-left: 25px;
  padding-right: 25px;
}

.side-margins {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

.ties-background {
  background: url('./pictures/ties.jpg');
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.slytherin-background {
  background: url('./pictures/slytherin.jpg');
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.transbox {
  margin: 30px;
  background-color: #00000070;
  border: 1px solid black;
  padding: 2%;
}

.filter {
  margin-left: 30px;
}

.profile-page {
  background: url(./pictures/papyrus.png);
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-repeat: repeat;
}

.blank {
  height: 65px;
}

.profile-main-pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.tenpx {
  margin: 10px;
}